<div class="col-xs-12" style="margin-top: 15px;">
  <div class="col-xs-10 col-xs-offset-3.5 text-center" ><h3 style="font-family: Segoe UI,Arial,sans-serif;">Available Rides</h3></div>

  <div class="dropdown col-xs-2">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Profile
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="/profile">Profile Update</a></li>
          <li><a href="/passwordChange">Password Update</a></li>
          <li><a href="/signOut">Sign Out</a></li>
        </ul>
      </div>
</div>
<div  style="margin-top: 3%;">
    <div class="container-fluid">
      <table class="table">
          <thead class="thead-dark">
              <tr scope="col">
                  <th scope="col">#</th>
                  <th scope="col" style="display: none;">Rider Id</th>
                  <th scope="col" style="display: none;">Ride Id</th>
                  <th scope="col" style="display: none;">Ride Taker Id</th>
                  <th scope="col">Rider Name</th>
                  <th scope="col">Rider Mobile Number</th>
                  <th scope="col">Vehicle Type</th>
                  <th scope="col">Available Seats</th>
                  <th scope="col">Vehicle Number</th>
                  <th scope="col">Ride Date and Time</th> 
                  <th scope="col">From Address</th> 
                  <th scope="col">To Address</th> 
                  <th scope="col">Send Request</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rideData of allRides">
              <th >{{rideData.rowId}}</th>
              <th style="display: none;">{{rideData.userId}}</th>
              <th style="display: none;">{{rideData.rideId}}</th>
              <th style="display: none;">{{rideData.rideTakerId}}</th>
              <td>{{rideData.riderName}}</td>
              <td>{{rideData.riderMobileNumber}}</td>
              <td>{{rideData.vehicle}} Wheeler</td>
              <td>{{rideData.availableSeats}}</td>
              <td>{{rideData.vehicleNumber}}</td>
              <td>{{rideData.rideDateTime | date:'medium'}}</td>
              <td>{{rideData.fromAddress}}</td>
              <td>{{rideData.toAddress}}</td>
              <td><button (click)="sendRideRequest(rideData)">Request</button></td>
            </tr>
          </tbody>
      </table>
    </div>
</div>