<h3 style="margin-left: 45%;font-family: Segoe UI,Arial,sans-serif;">Registration Form</h3>
<div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
<form [formGroup]="registrationForm" (ngSubmit)="submitRegistration()" style="margin-left: 35%;">
<table  style="width: 100%;">
    <tr>
    <div class="form-group">
        <td class="headingWidth"><label>First Name</label></td>
        <td><input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" /></td>
        <tr><td></td><td><div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div></td></tr>
    </div>
    </tr>
    <tr>
    <div class="form-group">
            <td class="headingWidth"><label>Last Name</label>
            <td><input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" /></td>
            <tr><td></td><td><div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div></td></tr>
    </div>
    </tr>
    <tr>
    <div class="form-group">
            <td class="headingWidth"><label>Email</label></td>
            <td><input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" /></td>
            <tr><td></td><td><div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div></td></tr>
    </div>
    </tr>
    <tr>
    <div class="form-group">
            <td class="headingWidth"><label>Mobile Number</label></td>
            <td><input type="text" formControlName="mobileNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" /></td>
            <tr><td></td><td><div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                <div *ngIf="f.mobileNumber.errors.required">Mobile Number is required</div>
            </div></td></tr>
    </div>
    </tr>
    <tr>
    <div class="form-group">
            <td class="headingWidth"><label>Role</label></td>
            <td>
                    <select class="form-control" style="width:150%;margin-left: 50%;" formControlName="role">
                            <option value="Rider">Rider</option>
                            <option value="RideTaker">Ride Taker</option>
                          </select>
            </td>
            <tr><td></td><td><div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                <div *ngIf="f.role.errors.required">Role is required</div>
            </div></td></tr>
    </div>
    </tr>
    <tr>
    <div class="form-group">
            <td class="headingWidth"><label>Office Address</label></td>
            <td><input type="text" formControlName="officeAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.officeAddress.errors }" /></td>
            <tr><td></td><td><div *ngIf="submitted && f.officeAddress.errors" class="invalid-feedback">
                <div *ngIf="f.officeAddress.errors.required">Office Address is required</div>
            </div></td></tr>
    </div>
    </tr>
    <tr>
    <div class="form-group">
            <td class="headingWidth"><label>Home Address</label></td>
            <td><input type="text" formControlName="homeAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.homeAddress.errors }" /></td>
            <tr><td></td><td><div *ngIf="submitted && f.homeAddress.errors" class="invalid-feedback">
                <div *ngIf="f.homeAddress.errors.required">Home Address is required</div>
            </div></td></tr>
    </div>
    </tr>
    <tr>
    <div class="form-group">
            <td class="headingWidth"><label>Password</label></td>
            <td><input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" /></td>
            <tr><td></td><td><div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div></td></tr>
    </div>
    </tr>
    <tr>
    <div class="form-group">
            <td class="headingWidth"><label>Confirm Password</label></td>
            <td><input type="text" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" /></td>
            <tr><td></td><td><div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div></td></tr>
    </div>
    </tr>
    <tr>
    <div class="form-group">
            <td class="headingWidth"><label>Vehicle Type</label></td>
            <td>
                    <select class="form-control" style="width:150%;margin-left: 45%;" formControlName="vehicle">
                            <option value="2">2 Wheeler</option>
                            <option value="4">4 Wheeler</option>
                          </select>
            </td>
            <tr><td></td><td><div *ngIf="submitted && f.vehicle.errors" class="invalid-feedback">
                <div *ngIf="f.vehicle.errors.required">Vehicle Type is required</div>
            </div></td></tr>
    </div>
    </tr>
    <tr>
    <div class="form-group">
            <td class="headingWidth"><label>Available Seats</label></td>
            <td>
                    <select class="form-control" style="width:126%;margin-left: 26%;" formControlName="availableSeats">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                          </select>
            </td>
            <tr><td></td><td><div *ngIf="submitted && f.availableSeats.errors" class="invalid-feedback">
                <div *ngIf="f.availableSeats.errors.required">Available Seats is required</div>
            </div></td></tr>
    </div>
    </tr>
    <tr>
    <td colspan="2"><div class="form-group">
            <button class="btn btn-primary">Register</button>
        </div></td>
    </tr>
    </table>
</form>

</div>
</div>
</div>
</div>
